.Login {
  width: 100%;
  min-height: 80vh;

  .container {
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
    width: 60%;
    margin: 10vh 20% 10vh 20%;
    min-height: 70vh;
    border: 1px solid black;

    .user {
      display: grid;
      margin: 30% 0 0 10%;
      justify-content: center;
      align-items: center;
      padding: 10%;
      .textbox {
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ddd;
      }
    }
    .event {
      display: grid;
      margin: 30% 10% 0 0;
      justify-content: center;
      align-items: center;
      padding: 10%;
      .textbox {
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ddd;
      }
    }
    .signup {
      width: 200%;
      text-align: center;
      .link {
        color: blue;
      }
    }
  }
}
