@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
//font-family: 'Noto Sans KR', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');
//font-family: 'Nanum Pen Script', cursive;

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');
//font-family: 'Dongle', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Jua&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');
//font-family: 'Jua', sans-serif;
.main {
  width: 100%;
  height: 100%;
  font-family: 'Dongle', sans-serif;

  .container {
    background-color: rgb(208, 224, 247, 0.7);
    padding: 20px 0px;

    .classTitle {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      max-width: 1500px;
      margin: 10px auto;
      border-radius: 20px;
      background-color: white;

      .mainIcon {
        position: relative;
        margin: 10px;
        width: 45px;
        height: 45px;
      }

      .titleWrapper {
        display: flex;
        flex-direction: column;
        margin: 10px;

        .subTitle {
          text-align: center;
          padding-top: 5px;
          color: lightseagreen;
          font-size: 60px;
        }

        .summary {
          font-size: 30px;
          margin-bottom: 5px;
        }
      }
    }

    .classContainer {
      border-radius: 20px;
      background-color: white;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 20px;
      max-width: 1500px;
      margin: auto;
      padding: 20px 5px;

      .class {
        //padding: 0px 5px 0px 5px;
        width: calc(20% - 20px);
        height: 100%;
        margin-bottom: 5px;

        .detailLink {
          text-decoration: none;
          color: black;
        }

        .imgBox {
          text-align: center;
          .classImg {
            border-radius: 20px;
            object-fit: cover;
            aspect-ratio: 3/3;
            max-height: 100%;
            width: 100%;
            cursor: pointer;

            &:hover {
              background-color: #000;
              opacity: 70%;
              transition: all 0.5s;
              transform: scale(1.03);
            }
          }
        }

        .sectionTitle {
          font-size: 30px;
          margin: 5px;
          text-align: center;
          line-height: 30px;
        }

        .hostName {
          padding-top: 10px;
          font-size: 26px;
          text-align: center;
        }
      }
    }
  }
}
