@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

.profile {
  .info {
    font-size: 45px;
  }
  .email {
    display: flex;
    min-height: 40px;
    min-width: 300px;
    align-items: center;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
  }

  .name {
    display: flex;
    flex-direction: column;
    min-height: 40px;
    min-width: 300px;
    margin: 10px 10px 10px 10px;
    padding: 10px 0 10px 0;
    font-size: 30px;

    & p {
      margin-bottom: 15px;
      overflow: auto;
    }
  }

  .phone {
    display: flex;
    flex-direction: column;
    min-height: 40px;
    min-width: 300px;
    margin: 10px 10px 10px 10px;
    padding: 10px 0 10px 0;
    font-size: 30px;

    & p {
      margin-bottom: 15px;
    }
  }

  .button {
    button {
      width: 60px;
      height: 30px;
      margin: 10px 10px 10px 10px;
      border-radius: 4px;
      background-color: rgb(140, 177, 230, 0.6);
      font-family: 'Dongle', sans-serif;
      font-size: 20px;
      border: none;
    }
  }
}
