.list {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .header {
      background-color: beige;
      display: flex;
      justify-content: center;
      align-self: stretch;

      .headerTitle {
        font-size: 55px;
        font-weight: 500;
        line-height: 95px;
        margin: 125px 0;
      }
    }

    .content {
      margin-top: 120px;
      display: flex;

      .tab {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 300px;

        .labelTitle {
          font-size: 16px;
          font-weight: 500;
        }

        .class {
          padding: 16px 0 0px 13px;
        }

        .location {
          padding: 16px 0 0px 13px;
        }

        .categories {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
        }
      }

      .classTab {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1000px;
        border: 1px solid #fbf3fa;

        .labels {
          display: flex;
          align-items: center;
          justify-content: space-between;
          align-self: stretch;
          padding: 16px 13px 16px 13px;

          .labelTitle {
            font-size: 20px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .classList {
          width: 1000px;
          display: flex;
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;

          .class {
            text-align: center;
            width: 300px;
            height: 400px;
            padding: 16px 13px 35px 13px;
            border: 1px solid #fbf3fa;

            .picture {
              img {
                width: 270px;
                height: 270px;
              }
            }

            .classTitle {
              line-height: 25px;
              font-weight: 600;
              margin-top: 10px;
              font-size: 19px;
            }

            .classLocation {
              margin-top: 8px;
              font-size: 18px;
            }

            .classCredit {
              margin-top: 8px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
