@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

.list {
  font-family: 'Dongle', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .header {
      background-color: rgb(140, 177, 230, 0.6);
      display: flex;
      justify-content: center;
      align-self: stretch;
      padding: 40px 0;
      height: 300px;

      .headerTitle {
        color: white;
        font-size: 120px;
        letter-spacing: 3px;
      }
    }

    .content {
      margin-top: 60px;
      margin-bottom: 20px;
      display: flex;
      gap: 50px;
      height: 100%;
      min-height: 100vh;

      .classBox {
        display: flex;

        .tab {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 200px;
          height: 100%;
          border: 3px solid rgb(140, 177, 230, 0.6);
          border-radius: 6px;
          padding-top: 8px;

          .labelTitle {
            text-align: center;
            padding-left: 33px;
            padding-top: 10px;
            font-size: 35px;
            font-weight: 600;
          }

          .class {
            padding: 16px 0 0px 13px;
          }

          .location {
            padding: 16px 0 0px 13px;
          }

          .categories {
            font-size: 30px;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
          }
        }

        .classTab {
          margin-left: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          max-width: 1000px;
          min-width: 1000px;
          border: 3px solid rgb(140, 177, 230, 0.6);
          border-radius: 6px;

          .labels {
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-self: stretch;
            padding: 16px 40px 16px 40px;

            .labelTitle {
              font-size: 35px;
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .classList {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .class {
              text-align: center;
              width: 305px;
              height: 400px;
              padding: 16px 13px 35px 13px;
              border: 1px solid #fbf3fa;

              .picture {
                img {
                  width: 270px;
                  height: 270px;
                  cursor: pointer;
                  border-radius: 4px;

                  &:hover {
                    background-color: #000;
                    opacity: 80%;
                    transition: all 0.5s;
                    transform: scale(1.05);
                  }
                }
              }

              .classTitle {
                line-height: 25px;
                font-weight: 500;
                margin-top: 10px;
                font-size: 27px;
              }

              .classLocation {
                margin-top: 8px;
                font-size: 18px;
              }

              .hostName {
                margin-top: 8px;
                font-size: 23px;
              }
            }
          }
        }
      }

      .recentlyBox {
        border-radius: 6px;
        margin-bottom: 10px;

        .recentlyViewedImages {
          color: white;
          position: sticky;
          top: 100px;
          padding-top: 20px;
          padding-bottom: 20px;
          width: 200px;
          height: auto;
          border-radius: 6px;
          font-weight: 500;
          font-size: 35px;
          text-align: center;
          align-items: center;
          background-color: rgb(140, 177, 230, 0.6);

          .recentlyClass {
            aspect-ratio: 2/3;
            object-fit: cover;
            border-radius: 4px;
            width: 150px;
            height: 150px;
            margin-top: 14px;

            &:hover {
              background-color: #000;
              opacity: 90%;
              transition: all 0.3s;
              transform: scale(1.1);
            }
          }

          .recentlyTitle {
            align-items: flex-start;
            font-size: 25px;
            margin-top: 5px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
