.credit {
  width: 100%;
  height: 100%;
  .header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 150px;
    background-color: beige;
    .title {
      line-height: 150px;
      text-align: center;
      font-size: 55px;
      font-weight: 500;
    }
  }
  .iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 8px;
    .icon {
      padding: 20px;
      aspect-ratio: 2/3;
      object-fit: cover;
      height: 100px;
      width: 100px;
    }
    .holdingCredit {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .selectBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .amount {
      font-size: 20px;
      width: 300px;
      text-align: center;
      line-height: 55px;
      height: 60px;
      border: none;
      background-color: beige;
      border-radius: 6px;
      cursor: pointer;
    }
  }
  .paymentBox {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .agreeLabel {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .chargeBtnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      border-radius: 8px;
      border: none;
      height: 60px;
      width: 430px;
      cursor: pointer;
      background-color: beige;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
