@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

.sort {
  select {
    font-family: 'Dongle', sans-serif;
    border: none;
    font-size: 30px;
  }
}
