.addClass {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-direction: column;

  .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-direction: column;

    .contents {
      display: flex;
      gap: 30px;
      padding: 15px 20px;
      align-self: stretch;
      margin: 0 30px;

      .btnBack {
        border: none;
      }

      .mainLabel {
        font-size: 30px;
        font-weight: 700;
      }

      .classInfo {
        margin: 0 auto;
        display: flex;
        width: 700px;
        min-width: 500px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap: 30px;

        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          gap: 20px;

          .label {
            font-size: 20px;
          }

          .infoInput {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;

            input {
              display: flex;
              padding: 15px;
              align-self: stretch;
              font-size: 20px;
              border: none;
              border-bottom: 1px solid #999;
            }
          }

          .categoryInfo {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;

            select {
              width: 330px;
              font-size: 20px;
              border: none;
              border-bottom: 1px solid #999;
              padding: 15px;
            }
          }

          .addressInfo {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            gap: 10px;

            button {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 20px;
              height: 54px;
              font-size: 20px;
              background-color: beige;
              border: none;
              border-radius: 12px;
              cursor: pointer;
            }

            input {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              padding: 15px;
              font-size: 20px;
              border: none;
              border-bottom: 1px solid #999;
              flex: 1 0 0;

            }
          }
        }
      }
    }
  }
}