@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

.detail {
  font-family: 'Dongle', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 120px;

    .header {
      background-color: rgb(140, 177, 230, 0.6);
      display: flex;
      justify-content: center;
      align-self: stretch;
      padding: 40px 0;
      height: 300px;
      align-items: center;

      .headerTitle {
        color: white;
        font-size: 120px;
        letter-spacing: 3px;
      }
    }

    .content {
      display: flex;
      align-items: center;
      gap: 60px;
      padding: 35px 40px;
      border: 1px solid #999;

      .simpleDetail {
        display: flex;
        flex-direction: column;
        width: 500px;
        gap: 20px;
        margin-top: 20px;
        align-items: flex-start;
        align-self: stretch;

        .basicInfo {
          display: flex;
          align-items: flex-start;
          gap: 30px;

          img {
            width: 250px;
            height: 300px;
          }

          .basicDetail {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 250px;

            .classTitle {
              font-size: 40px;
            }

            .classOpener {
              font-size: 25px;
            }

            .classCategory {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 25px;
            }

            .locationLabel {
              font-size: 25px;
            }

            .copyAddress {
              font-family: 'Dongle', sans-serif;
              font-size: 20px;
              border: none;
              background-color: white;
              cursor: pointer;
              text-align: left;
              text-decoration: underline;
            }
          }
        }
      }

      .selectPeople {
        display: flex;
        gap: 8px;
        align-items: center;
        align-self: stretch;
        justify-content: space-evenly;

        button {
          font-family: 'Dongle', sans-serif;
          background-color: white;
          border: none;
          cursor: pointer;
          font-size: 30px;
        }

        div {
          font-size: 30px;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        gap: 20px;

        button {
          font-family: 'Dongle', sans-serif;
          width: 180px;
          font-size: 30px;
          border-radius: 10px;
          border: none;
          height: 50px;
          cursor: pointer;
          background-color: rgb(140, 177, 230, 0.6);
          color: white;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    .calendar {
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-self: stretch;
      justify-content: space-between;

      .reserve {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap: 20px;
      }
    }
  }

  .summaryInfo {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    gap: 20px;

    .summary {
      display: flex;
      align-items: flex-start;
      font-size: 30px;
      line-height: 50px;
      width: 1105px;
      border: 1px solid #999;
      padding: 35px 40px;
    }
  }

  .imagesInfo {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    gap: 20px;

    .images {
      display: flex;
      gap: 50px;
      padding: 30px 40px;
      border: 1px solid #999;

      img {
        border: none;
        border-radius: 10px;
        width: 500px;
        height: 500px;
      }
    }
  }

  .contentInfo {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    gap: 20px;

    .contentDetail {
      display: flex;
      align-items: flex-start;
      font-size: 30px;
      line-height: 50px;
      width: 1105px;
      border: 1px solid #999;
      padding: 35px 40px;
    }
  }
}

.mapInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .label {
    font-size: 40px;
  }

  .map {
    width: 1100px;
    height: 600px;
  }
}