.Adjustment {
  .charge {
    height: 25px;
  }
  .btn {
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    background-color: white;
    border-radius: 3px;
    width: 40px;
    margin: 10px 0 10px 20px;
  }
}
