.classList {
  display: table; // 컨테이너를 테이블로 설정

  .container {
    display: table-row; // 각 div를 테이블 행으로 설정

    .cell {
      display: table-cell; // 각 p를 테이블 셀로 설정
      padding: 10px; // 셀 안의 여백 지정
      border: 1px solid #ddd; // 셀 테두리 스타일 지정

      &.title {
        min-width: 500px;
      }

      &.classCategory {
        text-align: center;
      }
    }
  }

  .pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }
}
