.hostList {
  display: table; // 컨테이너를 테이블로 설정

  .container {
    display: table-row; // 각 div를 테이블 행으로 설정
    border: 1px solid #ddd; // 테두리 스타일 지정
    margin: 5px; // 행 간격 조절

    .cell {
      display: table-cell;
      padding: 10px;
      border: 1px solid #ddd;

      &.host {
        width: 80px;
      }
      &.num {
        width: 80px;
        text-align: end;
      }
      &.email {
        width: 250px;
      }
      &.phone {
        width: 150px;
      }
      &.account {
        width: 250px;
      }
    }
  }

  .pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }
}
