.UserList {
  display: table;

  div {
    display: table-row;
    border: 1px solid #ddd;
    margin: 5px;

    p {
      display: table-cell;
      padding: 10px;
      border: 1px solid #ddd;
    }
  }
}
