.userList {
  display: table;

  .container {
    display: table-row;
    border: 1px solid #ddd;
    margin: 5px;

    .cell {
      display: table-cell;
      padding: 10px;
      border: 1px solid #ddd;

      &.user {
        width: 80px;
      }
      &.num {
        width: 80px;
        text-align: end;
      }
      &.email {
        width: 250px;
      }
      &.phone {
        width: 150px;
      }
    }
  }

  .pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }
}
