.header {
  background-color: rgb(140, 177, 230, 0.6);
  display: flex;
  justify-content: center;
  align-self: stretch;
  padding: 40px 0;
  height: 300px;
  align-items: center;

  .headerTitle {
    color: white;
    font-size: 120px;
    letter-spacing: 3px;
  }
}
