@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');
//font-family: 'Dongle', sans-serif;

.box {
  font-family: 'Dongle', sans-serif;

  .sideBar {
    position: absolute;
    top: 45px;
    right: 0;
    display: block;
    width: 250px;
    overflow: hidden;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;

    .userMenu {
      font-size: 32px;
      list-style: none;
      text-align: center;
      padding-top: 10px;

      .myCredit {
        margin-bottom: 10px;
      }

      .menu {
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
          background-color: rgb(140, 177, 230, 0.6);
        }
      }
    }
  }

  .evenUser {
    position: absolute;
    top: 45px;
    right: 0;
    display: block;
    width: 250px;
    overflow: hidden;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;

    .eventUserMenu {
      font-size: 32px;
      list-style: none;
      text-align: center;
      padding-top: 10px;

      .myCredit {
        margin-bottom: 10px;
      }

      .menu {
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
          background-color: rgb(140, 177, 230, 0.6);
        }
      }
    }
  }
}
