@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');
//font-family: 'Dongle', sans-serif;

.Admin {
  display: flex;
  font-family: 'Dongle', sans-serif;
  font-size: 25px;

  .category {
    display: flex;
    flex-direction: column; // 버튼을 세로로 정렬
    align-items: center; // 가운데 정렬
    padding: 20px 20px 0 20px;

    button {
      margin-bottom: 10px; // 버튼 간 간격 조절
      width: 150px;
      height: 40px;
      font-size: 25px;
      border-radius: 4px;
      font-family: 'Dongle', sans-serif;
      background-color: rgb(140, 177, 230, 0.6);
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}
