.sideBar {
  display: block;
  width: 250px;
  top: 45px;
  right: 0;
  overflow: hidden;
  background-color: gray;
  opacity: 0.5;
  position: absolute;
  .userMenu {
    font-size: 18px;
    list-style: none;
    text-align: center;
    padding-top: 10px;
    .menu {
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}
