@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

.AdminLogin {
  min-height: 30vh; //
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
  margin: 20px 0 0 20px;

  .btn {
    font-family: 'Dongle', sans-serif;
    width: 60px;
    font-size: 25px;
    margin: 10px 0 0 10px;
  }
}
